.topic-list__item {
  line-height: 24px;
  margin-left: 24px;
  color: #111;

  &:hover {
  color: #414141;
    text-decoration: underline;
  }
}

.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;


  &:hover {
    text-decoration: overline;
    color: #111;

  }
}